*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* color: white; */
}


.optt a{
    text-decoration: none;
    color: white;
}

@media only screen and (min-width:1501px)  {


#page{
    width: 100%;
    height: 500rem;
    background-color: black;
}
#head{
    width: 90%;
    height: 2rem;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    border-radius: 0 0 10px 10px;}

.logo{
    width: 20%;
    margin-top: 2px;
}

.logot{
    font-size: 22px;  
    font-family: 'montserrat' , sans-serif;
    margin-left: 2rem;
    color: rgb(255, 0, 0);
}

.option{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2px;
}

.optt{
    width: 10%;
    text-align: center;
    font-size: 15px;
    color: white;
    margin-right: 2rem;
    padding-top: 5px;
    
}

.optt:hover{
    font-size: 15px;
    color: white;
    background-color: red;
    border-radius: 10px;


}




}


@media only screen and (min-width:1201px) and (max-width: 1500px) {


#page{
    width: 100%;
    height: 500rem;
    background-color: black;
}
#head{
    width: 90%;
    height: 2rem;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    border-radius: 0 0 10px 10px;}

.logo{
    width: 20%;
    margin-top: 2px;
}

.logot{
    font-size: 22px;  
    font-family: 'montserrat' , sans-serif;
    margin-left: 2rem;
    color: rgb(255, 0, 0);
}

.option{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2px;
}

.optt{
    width: 10%;
    text-align: center;
    font-size: 15px;
    color: white;
    margin-right: 2rem;
    padding-top: 5px;
    
}

.optt:hover{
    font-size: 15px;
    color: white;
    background-color: red;
    border-radius: 10px;


}


#homep{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
}
.homet{
    width: 50%;
    height: 20rem;
    /* background-color: palevioletred; */
}


.homei{
    width: 30%;
    height: 25rem;
    background: url(image/founder1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    margin-right: 5%;
    border-radius: 5%;
    border: 2px solid red;

}

.hot{
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'montserrat' , sans-serif;
}

.hott{
    font-size: 15px;
    text-align: justify;
    color: white;

}

.loc{
    margin-top: 2rem;
}
.loc a{
width: 40%;
height: 5rem;
/* background-color: forestgreen; */
color: white;
font-size: 25px;
margin: 0 10px;
transition: 0.3s;


}


}

@media only screen and (min-width:900px) and (max-width: 1200px) {


#page{
    width: 100%;
    height: 500rem;
    background-color: black;
}
#head{
    width: 90%;
    height: 2rem;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    border-radius: 0 0 10px 10px;}

.logo{
    width: 20%;
    margin-top: 2px;
}

.logot{
    font-size: 20px;  
    font-family: 'montserrat' , sans-serif;
    margin-left: 2rem;
    color: rgb(255, 0, 0);
}

.option{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2px;
}

.optt{
    width: 10%;
    text-align: center;
    font-size: 14px;
    color: white;
    margin-right: 2rem;
    padding-top: 5px;
    
}

.optt:hover{
    font-size: 14px;
    color: white;
    background-color: red;
    border-radius: 10px;


}



}



@media only screen and (min-width:550px) and (max-width: 899px) {


#page{
    width: 100%;
    height: 500rem;
    background-color: black;
}
#head{
    width: 90%;
    height: 2rem;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    border-radius: 0 0 10px 10px;}

.logo{
    width: 20%;
    margin-top: 2px;
}

.logot{
    font-size: 18px;  
    font-family: 'montserrat' , sans-serif;
    margin-left: 2rem;
    color: rgb(255, 0, 0);
}

.option{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2px;
}

.optt{
    width: 10%;
    text-align: center;
    font-size: 12px;
    color: white;
    margin-right: 2rem;
    padding-top: 5px;
    
}

.optt:hover{
    font-size: 14px;
    color: white;
    background-color: red;
    border-radius: 10px;


}




}



@media only screen and (min-width:250px) and (max-width:549px) {


#page{
    width: 100%;
    height: 500rem;
    background-color: black;
    
}
#head{
    width: 100%;
    height: 2rem;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;}

.logo{
    width: 20%;
    margin-top: 2px;
}

.logot{
    font-size: 12px;  
    font-family: 'montserrat' , sans-serif;
    margin-left: 1rem;
    color: rgb(255, 0, 0);
}

.option{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2px;
}

.optt{
    width: 10%;
    text-align: center;
    font-size: 9px;
    color: white;
    margin-right: 1rem;
    padding-top: 5px;
    
}

.optt:hover{
    font-size: 14px;
    color: white;
    background-color: red;
    border-radius: 10px;


}



}


